<h1>
    Busqueda:
    <small>
    {{termino}}
  </small>
</h1>
<hr>

<div class="alert alert-info" role="alert" *ngIf=" searchResult.length === 0 ">
    No results with that search term!
</div>

<div class="card-columns">

    <div class="card animated fadeIn" *ngFor="let heroe of searchResult">
        <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>

            <button type="button" class="btn btn-block btn-outline-info" (click)="goToHeroeInfo(heroe.id)">
                More info
            </button>

        </div>

    </div>


</div>